{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid border border-primary p-3 compose-post-view">
    <h2>New Post</h2>
    <form>
        <textarea class="form-control" id="post-content"></textarea>
        <input type="submit" id="compose-post-btn" class="btn btn-info" />
    </form>
</div>
<div id="all-posts-view"></div>

<div id='paginator-btns'></div>
{% endblock %}



{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}